*{
    display: flex;
    align-content: center;
    justify-content: center;
    .container{
        width: 80%;
        display: flex;
        align-content: center;

    }
    .container:hover{
        cursor: pointer;
    }
}