*{
    display: flex;
    align-content: center;
    justify-content: center;
    .container{
        width: 80%;
        display: flex;
        align-content: center;
        justify-content: sp;
    }
    .container:hover{
        cursor: pointer;
    }
    background: rgb(224, 243, 245);
    background:RGB(227, 244, 252);
    background-color: aquamarine;
}